<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true" use-expressions="true" access-denied-page="/forbidden" disable-url-rewriting="true">
	<headers />
		<intercept-url pattern="/login*" requires-channel="https" access="permitAll" />
		<intercept-url pattern="/logout*" requires-channel="https" access="permitAll" />
		<intercept-url pattern="/changepassword*" requires-channel="https" access="permitAll" />
		<intercept-url pattern="/" requires-channel="https" access="hasAnyRole('ROLE_BANK_EMPLOYEE', 'ROLE_SYSTEM_ADMIN', 'ROLE_MERCHANT', 'ROLE_INDIVIDUAL_CUSTOMER')"/>
		<intercept-url pattern="/resources/**" requires-channel="https" access="permitAll" />
		<intercept-url pattern="/css/**" requires-channel="https" access="permitAll" />
		<intercept-url pattern="/js/**" requires-channel="https" access="permitAll" />
		<intercept-url pattern="/fonts/**" requires-channel="https" access="permitAll" />
		<intercept-url pattern="/auth/user/**" requires-channel="https" access="hasAnyRole('ROLE_SYSTEM_ADMIN')"/>
		<intercept-url pattern="/auth/trans/tranfunds" requires-channel="https" access="hasAnyRole('ROLE_MERCHANT', 'ROLE_INDIVIDUAL_CUSTOMER')"/>
		<intercept-url pattern="/auth/acc/deleteaccount" requires-channel="https" access="hasAnyRole('ROLE_SYSTEM_ADMIN')"/>
		<intercept-url pattern="/auth/acc/listaccount" requires-channel="https" access="hasAnyRole('ROLE_SYSTEM_ADMIN')"/>
		<intercept-url pattern="/auth/acc/addaccount" requires-channel="https" access="hasAnyRole('ROLE_SYSTEM_ADMIN')"/>
		<intercept-url pattern="/auth/trans/creditfunds" requires-channel="https" access="hasAnyRole('ROLE_MERCHANT', 'ROLE_INDIVIDUAL_CUSTOMER')"/>
		<intercept-url pattern="/auth/trans/debitfunds" requires-channel="https" access="hasAnyRole('ROLE_MERCHANT', 'ROLE_INDIVIDUAL_CUSTOMER')"/>
		<intercept-url pattern="/auth/trans/viewbalance" requires-channel="https" access="hasAnyRole('ROLE_MERCHANT', 'ROLE_INDIVIDUAL_CUSTOMER')"/>
		<intercept-url pattern="/auth/trans/merchantpayments" requires-channel="https" access="hasAnyRole('ROLE_MERCHANT')"/>
		<intercept-url pattern="/auth/trans/authorizepayments" requires-channel="https" access="hasAnyRole('ROLE_INDIVIDUAL_CUSTOMER', 'ROLE_BANK_EMPLOYEE')"/>
		<intercept-url pattern="/auth/trans/approve" requires-channel="https" access="hasAnyRole('ROLE_INDIVIDUAL_CUSTOMER', 'ROLE_BANK_EMPLOYEE')"/>
		<intercept-url pattern="/auth/trans/reject" requires-channel="https" access="hasAnyRole('ROLE_INDIVIDUAL_CUSTOMER', 'ROLE_BANK_EMPLOYEE')"/>
		<intercept-url pattern="/auth/trans/addauthrequest" requires-channel="https" access="hasAnyRole('ROLE_INDIVIDUAL_CUSTOMER')"/>
		<intercept-url pattern="/auth/trans/authreqsuccess" requires-channel="https" access="hasAnyRole('ROLE_INDIVIDUAL_CUSTOMER')"/>
		<intercept-url pattern="/auth/trans/authorizecustreq" requires-channel="https" access="hasAnyRole('ROLE_SYSTEM_ADMIN')"/>
		<intercept-url pattern="/auth/trans/transactionlogs" requires-channel="https" access="hasAnyRole('ROLE_BANK_EMPLOYEE', 'ROLE_SYSTEM_ADMIN', 'ROLE_MERCHANT', 'ROLE_INDIVIDUAL_CUSTOMER')"/>
		<intercept-url pattern="/auth/**" requires-channel="https" access="hasAnyRole('ROLE_BANK_EMPLOYEE', 'ROLE_SYSTEM_ADMIN', 'ROLE_MERCHANT', 'ROLE_INDIVIDUAL_CUSTOMER')"/>
		
		<intercept-url pattern="/**" access="denyAll" />
		<form-login login-page="/login" default-target-url="/auth/welcome"
			authentication-failure-url="/loginfailed" authentication-success-handler-ref="authenticationSuccessHandler" />
		<logout logout-success-url="/logout" invalidate-session="true" />
	</http>

	<beans:bean id="encoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

	<beans:bean id="authProvider"
		class="com.asu.alliancebank.security.limitfaileduserattempts.LimitLoginAuthenticationProvider">
		<beans:property name="userDetailsService" ref="allianceBankUserService" />
		<beans:property name="passwordEncoder" ref="encoder" />
	</beans:bean>

	<authentication-manager alias="authenticationManager"
		erase-credentials="false">
		<authentication-provider>
			<user-service>
				<user name="admin" password="!ss@dm!n@11in1"
					authorities="ROLE_SYSTEM_ADMIN" />
			</user-service>
		</authentication-provider>
		<authentication-provider ref="authProvider"></authentication-provider>
	</authentication-manager>

	<beans:bean id="authenticationFailureHandler" class="com.asu.alliancebank.security.password.change.ChangePasswordFailure"/>
	<beans:bean id="authenticationSuccessHandler" class="com.asu.alliancebank.security.password.change.FirstLoginSuccessHandler"/>
	
	
	
	
</beans:beans>